<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Tạo mục tiêu</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/saving_goal.css') }}">
</head>
<body data-user-id="{{session['user_id'] }}">
  <header>
    <div class="top-bar">
      <span class="back-btn" onclick="window.history.back();">←</span>
      <h1>Tạo mục tiêu</h1>
    </div>
  </header>

  <main>
    <form id="goal-form">
      <section class="goal-form">
        <div class="form-row">
          <div class="input-container">
            <i class="fas fa-mountain"></i>
            <label for="name">Tên mục tiêu</label>
          </div>
          <input type="text" id="name" name="name" placeholder="Tên mục tiêu" required>
           
        </div>

        <div class="form-row">
          <div class="input-container">
            <i class="fas fa-rainbow"></i>
            <label for="icon">Biểu tượng</label>
          </div>  
          <div class="icon-select">
          </div>
          
        </div>

        <div class="form-row">
          <div class="input-container">
            <i class="fas fa-dollar-sign money-icon"></i>
            <label for="target_amount">Số tiền mục tiêu</label>
          </div>
          <input type="number" id="target_amount" name="target_amount" placeholder="Vui lòng nhập số tiền" required>
          
        </div>

        <div class="form-row">
          <div class="input-container">
            <i class="fas fa-calendar-alt calendar-icon"></i>            
            <label for="start_time">Khởi đầu</label>
          </div>
          <input type="date" id="start_time" name="start_time" required>
        </div>

        <div class="form-row">
          <div class="input-container">
            <i class="fas fa-calendar-alt calendar-icon"></i>   
            <label for="end_time">Kết thúc</label>
          </div>
          <input type="date" id="end_time" name="end_time" required>
        </div>

        <div class="form-row">
          <div class="input-container">
            <i class="fas fa-book"></i> 
            <label for="note">Ghi chú</label>
          </div>
          <textarea id="note" name="note" maxlength="30" placeholder="Vui lòng điền ghi chú của mục tiêu"></textarea>
        </div>
      </section>

      <div class="form-actions">
        <button type="submit" class="save-btn">Lưu mục tiêu</button>
        <button type="button" class="cancel-btn" onclick="window.location.href='/goals';">Hủy</button>
      </div>
    </form>
  </main>

  <script src="{{ url_for('static', filename='js/saving_goal.js') }}"></script>
</body>
</html>
